<h1>Contact Us!</h1>


<div>
<form role="form">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name">
  </div>

  <div class="form-group">
    <label for="email">Email address:</label>
    <input type="email" class="form-control" id="email">
  </div>
    
    
  <div class="checkbox">
    <label><input type="checkbox">Contact me with new features!</label>
  </div>
    
  <div class="form-group">
    <label for="feedback">Feedback</label>
    <textarea class="form-control" rows="5" id="feedback"></textarea>
  </div>
    
  <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>